{% extends 'base.html' %}

{% load static %}

{% block content %}
        
        <!-- ****** Welcome Slides Area Start ****** -->
        <section class="welcome_area">
            <!-- <div class="welcome_slides owl-carousel"> -->
                <!-- Single Slide Start -->
                <div class="single_slide height-700 bg-img background-overlay" style="background-image: url({% static 'img/bg-img/wallpaper4.jpg' %});">
                    <div class="container h-100">
                        <div class="row h-100 align-items-center">
                            <div class="col-12">
                                <div class="welcome_slide_text">
                                    <h6 data-animation="bounceInDown" data-delay="0" data-duration="500ms">* Only today we offer free shipping</h6>
                                    <h2 data-animation="fadeInUp" data-delay="500ms" data-duration="500ms">Fashion Trends</h2>
                                    <a href="{% url 'store' %}" class="btn karl-btn" data-animation="fadeInUp" data-delay="1s" data-duration="500ms">Shop Now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- ****** Welcome Slides Area End ****** -->

        <!-- ****** Top Catagory Area Start ****** -->
        <section class="top_catagory_area d-md-flex clearfix">
            <!-- Single Catagory -->
            <div class="single_catagory_area d-flex align-items-center bg-img w-100" style="background-image: url({% static "img/bg-img/bg-2.jpg" %});">
                <div class="catagory-content">
                    <h6>On Accesories</h6>
                    <h2>Sale 30%</h2>
                    <a href="{% url 'store' %}" class="btn karl-btn">SHOP NOW</a>
                </div>
            </div>
            <!-- Single Catagory -->
            <div class="single_catagory_area d-flex align-items-center bg-img w-100" style="background-image: url({% static "img/bg-img/pic5.jpg" %});">
                <div class="catagory-content">
                    <h6>in Glasses excepting the new collection</h6>
                    <h2>Designer glass</h2>
                    <a href="{% url 'store' %}" class="btn karl-btn">SHOP NOW</a>
                </div>
            </div>
        </section>
        <!-- ****** Top Catagory Area End ****** -->

        <!-- ****** New Arrivals Area Start ****** -->
        <section class="new_arrivals_area section_padding_100_0 clearfix">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="section_heading text-center">
                            <h2>New Arrivals</h2>
                        </div>
                    </div>
                </div>
            </div>

            <div class="karl-projects-menu mb-100">
                <div class="text-center portfolio-menu">
                    <button class="btn active" data-filter="*">ALL</button>
                </div>
            </div>

            <div class="container">
                <div class="row karl-new-arrivals">
                    {% for product in products %}
                    <!-- Single gallery Item Start -->
                    <div class="col-12 col-sm-6 col-md-4 single_gallery_item women wow fadeInUpBig" data-wow-delay="0.2s">
                        <!-- Product Image --> 
                        <div class="product-img fluid">
                            <img src="{{ product.images.url }}" alt="image is loading" style="width:100%">
                            {% comment %} <a href="" class="img-wrap"> </a> {% endcomment %}
                            <div class="product-quicview">
                                <a href="{{ product.get_url }}" data-toggle="modal" data-target="#quickview"><i class="ti-plus"></i></a>
                            </div>
                        </div>
                        <!-- Product Description -->
                        <div class="product-description">
                            <h4 class="product-price">₹ {{ product.price }} </h4>
                            <p>{{ product.product_name }}</p>
                            <!-- Add to Cart -->
            
                            {% if single_product.stock <= 0 %}
                                <h5 class="text-danger">Out of stock</h5>
                            {% else %}
                                <a href="{{ product.get_url }}" class="add-to-cart-btn">VIEW DETAILS</a>
                            {% endif %}

                        </div>   
                    </div>
                    {% endfor %}
                </div>
            </div>
        </section>

{% endblock %}