{% extends 'base.html' %}  

{% load static %}

{% block content %}

        <section class="top-discount-area d-md-flex align-items-center">
            <!-- Single Discount Area -->
            <div class="single-discount-area">
                <h5>Free Shipping &amp; Returns</h5>
                <h6><a href="#">BUY NOW</a></h6>
            </div>
            <!-- Single Discount Area -->
            <div class="single-discount-area">
                <h5>WEAR THE TREND</h5>
                <h6>Our hottest collections</h6>
            </div>
            <!-- Single Discount Area -->
            <div class="single-discount-area">
                <h5>Find the perfect fit</h5>
                <h6>Buy the best eyewear from Eyenlab</h6>
            </div>
        </section>

        <section class="shop_grid_area section_padding_100">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-md-4 col-lg-3">
                        <div class="shop_sidebar_area">
                           
                            <div class="widget catagory mb-50">
                                <!--  Side Nav  -->
                                <div class="nav-side-menu">
                                    <h6 class="mb-0">Categories</h6>
                                    <div class="menu-list">
                                        <ul id="menu-content2" class="menu-content collapse out">
                                            <!-- Single Item -->
                                            <li data-toggle="collapse" data-target="#women2">
                                                <a href="#">Glasses</a>
                                                <ul class="collapse show " id="women2">
                                                    {% for category in links %}
                                                    <li>
                                                        <a href="{{ category.get_url }}" >{{ category.category_name }}</a>
                                                    </li>
                                                    {% endfor %}
                                                </ul>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 col-md-8 col-lg-9">
                        <div class="shop_grid_product_area">

                            <header class="border-bottom mb-4 pb-3">
                                <div class="form-inline">
                                    <span class="mr-md-auto"><b>{{ product_count }}</b> Items found</span>
                                    
                                </div>
                            </header>

                            <div class="row">
                                {% if products %}
                                    {% for p in products %}
                                    <!-- Single gallery Item -->
                                    <div class="col-12 col-sm-6 col-lg-4 single_gallery_item wow fadeInUpBig" data-wow-delay="0.2s">
                                        <!-- Product Image --> 
                                        <div class="product-img">
                                            <img src="{{ p.images.url }}" alt="">
                                            <div class="product-quicview">
                                                <a href="{{ p.get_url }}" data-toggle="modal" data-target="#quickview"><i class="ti-plus"></i></a>
                                            </div>
                                        </div>
                                        <!-- Product Description -->
                                        <div class="product-description">                                                                                                                                                                                                                                                                                                                                                                          
                                            <h4 class="product-price">₹ {{ p.price }}</h4>
                                            <p>{{ p.product_name }}</p>
                                            <!-- View details -->
                                                <a href="{{ p.get_url }}" class="add-to-cart-btn">VIEW DETAILS</a>                                             
                                        </div>
                                    </div>
                                    {% endfor %}
                                {% else %}
                                    <div>
                                        <h2>Item not found</h2>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                {% comment %} -----pagination----- {% endcomment %}
                        <div class="shop_pagination_area wow fadeInUp" data-wow-delay="1.1s">
                            <nav aria-label="Page navigation">
                            {% if products.has_other_pages %}
                                <ul class="pagination pagination-sm">
                                    {% if products.has_previous %}
                                        <li class="page-item"><a class="page-link" href="?page={{ products.previous_page_number }}"> < </a></li>
                                    {% else %}
                                        <li class="page-item disabled"><a class="page-link" href="#"> < </a></li>
                                    {% endif %}

                                    {% for i in products.paginator.page_range %}
                                        {% if products.number == i %}
                                            <li class="page-item active"><a class="page-link" href="#">{{i}}</a></li>
                                        {% else %}
                                            <li class="page-item"><a class="page-link" href="?page={{i}}">{{i}}</a></li>
                                        {% endif %}
                                    {% endfor %}

                                    {% if products.has_next %}
                                        <li class="page-item"><a class="page-link" href="?page={{ products.next_page_number }}"> > </a></li>
                                    {% else %}
                                        <li class="page-item disabled"><a class="page-link" href="#"> > </a></li>
                                    {% endif %}
                                </ul>
                            {% endif %}
                            </nav>
                        </div>

                    </div>
                </div>
            </div>
        </section>

{% endblock %}